/* CSS elements strictly for the Player Table! */

#player_table {
    float:right;
    padding: 10px;
    background-image: url("images/player_table.jpg");
    min-width: 250px;
}

#player_table_row {
    padding: 2px;
    margin: 2px;
    background-color: #304135;
    
    background-image: linear-gradient(to right, #304135, #74917c);
}

#player_0_name, #player_1_name, #player_2_name, #player_3_name, #player_4_name, #player_5_name, #player_6_name, #player_7_name, #player_8_name, #player_9_name {
    font-weight: bolder;
    color: #000;

    padding: 0px 5px 0px 5px;
    color: #FFF;
}

#player_0_lives, #player_1_lives, #player_2_lives, #player_3_lives, #player_4_lives, #player_5_lives, #player_6_lives, #player_7_lives, #player_8_lives, #player_9_lives  {
    float: right;
    width: 70px;
    text-align: center;
    background-color: #0f2412;
    color: #FFFFFF;
    font-weight: bold;
}

#player_0_score, #player_1_score, #player_2_score, #player_3_score, #player_4_score, #player_5_score, #player_6_score, #player_7_score, #player_8_score, #player_9_score {
    float: right;
    width: 30px;
    text-align: center;
    background-color: #0f2412;
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFFF;
    font-weight: bold;
}


/* Title Section */

#player_title_name {
    font-weight: bolder;
    color: #000;

    padding: 0px 5px 0px 5px;
    color: #FFF;
}

#player_title_lives {
    float: right;
    width: 70px;
    text-align: center;
    background-color: #0f2412;
    color: #FFFFFF;
    font-weight: bold;
}

#player_title_score {
    float: right;
    width: 30px;
    text-align: center;
    background-color: #0f2412;
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFFF;
    font-weight: bold;


}

